In [1]:
from scipy import stats
from env import user, host, pw
import pandas as pd
import numpy as np

### 1. A bank found that the average number of cars waiting during the noon hour at a drive-up window follows a Poisson distribution with a mean of 2 cars. Make a chart of this distribution and answer these questions concerning the probability of cars waiting at the drive-up window.

In [2]:
cars_waiting = stats.poisson(2)

What is the probability that no cars drive up in the noon hour??

In [3]:
cars_waiting.pmf(0)

0.1353352832366127

What is the probability that 3 or more cars come through the drive through?

In [4]:
cars_waiting.sf(2)

0.32332358381693654

How likely is it that the drive through gets at least 1 car?

In [5]:
cars_waiting.sf(0)

0.8646647167633873

### 2. Grades of State University graduates are normally distributed with a mean of 3.0 and a standard deviation of .3. Calculate the following:

In [6]:
gpa_distribution = stats.norm(3, .3)

What grade point average is required to be in the top 5% of the graduating class?

In [7]:
gpa_distribution.isf(.05)

3.4934560880854417

What GPA constitutes the bottom 15% of the class?

In [8]:
gpa_distribution.ppf(.15)

2.689069983151863

An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile. Would a student with a 2.8 grade point average qualify for this scholarship?

In [22]:
gpa_distribution.ppf([0.2, 0.3])

array([2.74751363, 2.84267985])

If I have a GPA of 3.5, what percentile am I in?

In [10]:
gpa_distribution.cdf(3.5)

0.9522096477271853

### 3. A marketing website has an average click-through rate of 2%. One day they observe 4326 visitors and 97 click-throughs. How likely is it that this many people or more click through?

In [24]:
stats.binom(4326, 0.02).sf(96)

0.1397582363130086

### 4. You are working on some statistics homework consisting of 100 questions where all of the answers are a probability rounded to the hundreths place. Looking to save time, you put down random probabilities as the answer to each question.

What is the probability that at least one of your first 60 answers is correct?

In [12]:
stats.binom(60,1/100).sf(0)

0.4528433576092388

### 5. The codeup staff tends to get upset when the student break area is not cleaned up. Suppose that there's a 3% chance that any one student cleans the break area when they visit it, and, on any given day, about 90% of the 3 active cohorts of 22 students visit the break area. How likely is it that the break area gets cleaned up each day? How likely is it that it goes two days without getting cleaned up? All week?

In [23]:
n = round(22 * 3 *.90)
p = .03
stats.binom(n, p).sf(0)

0.8342199288437355

In [24]:

stats.binom(n * 2, p).pmf(0)

0.02748303199257623

In [25]:
stats.binom(n * 5, p).pmf(0)

0.00012521651388091353

### 6. You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime. After several weeks of careful observation, you notice that the average number of people in line when your lunch break starts is normally distributed with a mean of 15 and standard deviation of 3. If it takes 2 minutes for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have at least 15 minutes left to eat your food before you have to go back to class? Assume you have one hour for lunch, and ignore travel time to and from La Panaderia.

In [35]:
stats.norm(30, 6).cdf(33)

0.6914624612740131

### 7. Connect to the employees database and find the average salary of current employees, along with the standard deviation. For the following questions, calculate the answer based on modeling the employees salaries with a normal distribution defined by the calculated mean and standard deviation then compare this answer to the actual values present in the salaries dataset.

In [28]:
def get_db_url(db):
    return f'mysql+pymysql://{user}:{pw}@{host}/{db}'
    
url = get_db_url("employees")
query = '''
SELECT * FROM salaries
WHERE salaries.to_date > now()
'''
salaries = pd.read_sql(query, url)
salaries.head()

   emp_no  salary   from_date     to_date
0   10001   88958  2002-06-22  9999-01-01
1   10002   72527  2001-08-02  9999-01-01
2   10003   43311  2001-12-01  9999-01-01
3   10004   74057  2001-11-27  9999-01-01
4   10005   94692  2001-09-09  9999-01-01

In [37]:
sal_avg = salaries.salary.mean()
sal_std = salaries.salary.std()

What percent of employees earn less than 60,000?

In [31]:
stats.norm(sal_avg, sal_std).cdf(60000)

0.24385742480214423

What percent of employees earn more than 95,000?

In [32]:
stats.norm(sal_avg, sal_std).sf(95000)

0.09208819199804053

What percent of employees earn between 65,000 and 80,000?

In [33]:
np.diff(stats.norm(sal_avg, sal_std).cdf([65000,  80000]))

array([0.33506057])

What do the top 5% of employees make?

In [35]:
stats.norm(sal_avg, sal_std).isf(0.05)

100484.64454102777